.article {
  padding: 0;
  border-radius: 0;
  margin-bottom: 30px;
  
  .article__image{
	  position: relative;
    height: 180px;
    overflow: hidden;
    background: gray;
     img{
      transition: 0.4s ease;
      -webkit-transition: 0.4s ease;
      -moz-transition: 0.4s ease;
    }
  }

  &:hover .article__image img{
	  transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  .article__body{
    font-weight: 400;
    padding: 30px;
    color: #767676;

    .article__intro {
      font-size: 12px;
    }

    .article__title {
      color: #232323;
      font-weight: 400;
      height: 80px;
      font-size: 18px;
      line-height: 1.6;
      margin: 0;
      margin-bottom: 30px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  
  hr{
    border-color: #ebebeb;
  }

  .article__lower{
    font-size: 11px;
    font-style: italic;
    display: inline-block;
    color: #767676;
    margin: 0;

    .article__author{
      letter-spacing: 0.5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
      height: 20px;
      max-width: 250px;
    }
  }

  &:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);

    a {
      text-decoration: none;
    }

    .article__body, .article__lower, .article__title{
      color: #b91521;
    }
  }


.btn-read-more {
  height: 32px;
  border-radius: 0;
  font-size: 11px;
  line-height: 18px;
  color: #666;

  &:hover{
    background: #b91521;
    color: white;
    border: red;
  }
}
  
}