.Collapsible{
  margin-bottom: 15px;

  li {
    list-style: none;

    a {
      font-size: 13px;
      font-weight: 500;
      padding-bottom: 10px;
      display: block;
      color: lighten($brand-primary,10%);

      &:hover{
        color: $brand-danger;
        text-decoration: none;
      }
    }
  }
}
